.level {
    align-items: center;
    justify-content: space-between;
}

.level {
    
}
.card-content {
    padding: 1.5rem;
}

.level-left {
   
}
.level-right {
    
}

.card-footer {
    border-top: 1px solid #dbdbdb;
    align-items: stretch;
    display: flex;
}

.card-footer-item {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    padding: .75rem;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-margin{
    margin-bottom: 10px;
}

.spinnerspacing{
    margin-right: 3px;
    margin-left: 3px;
}