
html,
body {
  height: 100%;
  font-display: auto;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
  margin-top: 14%;
}
.footer {
  margin-top: 15%;
  margin-bottom: 1%;
}